    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; YelpCamp 2017 | pattonjim | <a href="/campgrounds">Home</a></p>
      </div>
    </footer>
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <% if (typeof pageSelect !== 'undefined' && (pageSelect === 'new' || pageSelect === 'reset' || pageSelect === 'profile')) { %>
      <script type="text/javascript" src="../js/randombg.js"></script>
    <% } else if (typeof pageSelect !== 'undefined' && pageSelect === 'edit') { %>
      <script type="text/javascript" src="../../js/randombg.js"></script>
    <% } else if (typeof pageSelect !== 'undefined' && pageSelect === 'newcomment') { %>
      <script type="text/javascript" src="../../../js/randombg.js"></script>
    <% } else if (typeof pageSelect !== 'undefined' && pageSelect === 'editcomment') { %>
      <script type="text/javascript" src="../../../../js/randombg.js"></script>
    <% } else if (typeof pageSelect !== 'undefined' && (pageSelect === 'register' || pageSelect === 'login' || pageSelect === 'forgot')) { %>
      <script type="text/javascript" src="js/randombg.js"></script>
    <% } %>

    <% if (typeof pageSelect !== 'undefined' && pageSelect === 'upload') { %>
      <script type="text/javascript" src="js/upload.js"></script>
    <% } %>

    <script type="text/javascript">
      // scroll reveal
      sr.reveal('#flash',
        {
          duration: 1000,
          origin: 'top',
          distance: '50px'
        });

      $(document).on("click", '.close', function(e) {
        e.preventDefault();
        $('#flash').hide();
      });

      // nav bar ticker
      function tickOut(){
        $('#ticker li:first').animate({'opacity':0}, 1000, function () {
            //$(this).hide()
            $(this).appendTo($('#ticker'))
            $('#ticker li:first').hide()
            $('#ticker li:first').fadeIn(1000)
              $('#ticker li:not(:first)').css('opacity', '1')
        });
      }
      setInterval(function(){ tickOut () }, 5500);

      // tool tip
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

  </body>
</html>
