    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; pattonjim 2017 | <a href="/campgrounds">Home</a></p>
      </div>
    </footer>
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <% if (typeof pageSelect !== 'undefined' && pageSelect === 'upload') { %>
      <script type="text/javascript" src="js/upload.js"></script>
    <% } %>

  </body>
</html>
