
<div class="modal-content">
  <div class="close-modal" data-dismiss="modal">
    <div class="lr">
      <div class="rl">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="modal-body">
          <div class="form-center">
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                <h2>Upload Avatar</h2>

                <div class="progress">
                  <div class="progress-bar" role="progressbar"></div>
                </div>

                <form action="/profile/uploads" enctype="multipart/form-data" method="POST">
                  <input id="upload-input" type="file" name="uploads"><br>
                  <button id="upBtn" class="btn btn-lg upload-btn" type="submit">Upload</button>
                </form>

                <div style="margin-top: 5px;">
                  <ul class="text-danger" style="list-style-type: none; padding: 0px; margin-top: 15px;">
                    <li>MAX 3mb size</li>
                    <li>GIF, JPG, or PNG</li>
                    <li>MAX 275x250 px dimensions</li>
                  </ul>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
