<% include ../partials/header %>

  <div class="bgRandom bgBlur"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="glyphicon glyphicon-plus form-icon"></i> <span class="glyphicon glyphicon-tent"></span>
            <h2></h2>
            <div id="panel-campground" class="form-center">
              <form action="/campgrounds" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" type="text" name="name" value="" placeholder="name">
                </div>
                <div class="form-group">
                  <label for="Price">Price</label>
                  <input class="form-control" type="number" name="price" value="" placeholder="price" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                  <label for="image">Image</label>
                  <input class="form-control" type="file" name="image">
                </div>
                <div class="form-group">
                  <label for="location">Location</label>
                  <input class="form-control" type="text" name="location" id="location" value="" placeholder="Yosemite National Park, CA">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" placeholder="description"></textarea>
                </div>
                <div class="form-group text-center">
                  <input class="btn btn-lg btn-primary" type="submit" value="Create">
                </div>
              </form>
              <div class="text-center">
                <a href="/campgrounds">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
<% include ../partials/footer-java %>
<% include ../partials/bottom %>
